* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #1a1a1a;
  color: white;
}

header {
  background-color: #E6B980;
  padding: 18px;
  text-align: center;
  color: #000;
  font-weight: bold;
  font-size: 22px;
}

.container {
  max-width: 600px;
  margin: 40px auto;
  text-align: center;
}

.screen {
  background-color: #e6b980;
  color: #000;
  padding: 12px;
  font-weight: bold;
  border-radius: 6px;
  margin-bottom: 20px;
}

#seat-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 20px;
}

.row {
  display: flex;
  justify-content: center;
  gap: 6px;
}

.seat {
  width: 32px;
  height: 32px;
  background-color: #555;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  font-size: 12px;
}

.seat:hover {
  background-color: #777;
}

.seat.selected {
  background-color: #E6B980;
  color: black;
  font-weight: bold;
}

.seat.booked {
  background-color: #b33;
  cursor: not-allowed;
}

.info {
  margin-top: 20px;
  font-size: 16px;
}

.buttons {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

button.checkout,
button.back {
  padding: 10px 22px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.2s;
}

button.checkout {
  background-color: #E6B980;
  color: #000;
}

button.checkout:hover {
  background-color: #dba96b;
}

button.back {
  background-color: #999;
  color: white;
}

button.back:hover {
  background-color: #777;
}

footer {
  text-align: center;
  padding: 18px;
  margin-top: 40px;
  background-color: #E6B980;
  color: #000;
  font-weight: bold;
}
