* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #1a1a1a;
  color: white;
}

header {
  background-color: #E6B980;
  padding: 18px;
  text-align: center;
  color: #000;
  font-weight: bold;
  font-size: 22px;
}

.back-button {
  display: inline-block;
  margin: 25px 40px 0 40px;
  padding: 10px 20px;
  background-color: #E6B980;
  color: #000;
  font-weight: bold;
  border-radius: 8px;
  text-decoration: none;
  transition: all 0.2s ease;
}

.back-button:hover {
  background-color: #dba96b;
  transform: scale(1.05);
}

.film-card {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 50px;
  padding: 20px;
  background-color: #2c2c2c;
  border-radius: 12px;
}

.film-card img {
  width: 280px;
  border-radius: 10px;
}

.film-info {
  max-width: 400px;
}

.film-info h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

.schedule h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.day button {
  margin: 5px;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background-color: #E6B980;
  color: #000;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

.day button:hover {
  background-color: #dba96b;
  transform: scale(1.05);
}

footer {
  text-align: center;
  padding: 18px;
  margin-top: 40px;
  background-color: #E6B980;
  color: #000;
  font-weight: bold;
}
